/*
font-family: 'Inder', sans-serif;
font-family: 'Just Me Again Down Here', cursive;
font-family: 'Quando', serif;
*/

#mainWrap {
  margin: 0 auto;
  background-color: #FFFFF8;
}

.statsButton {
  display: inline-block;
}

.usersButton {
  display: inline-block;
}

@media (min-width:320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

  #mainWrap {
    width: 320px;
  }

  .ng-scope form{
    padding: 0 20px 20px !important;
  }

  .statsButton {
    display: none;
  }

  .usersButton {
    display: none;
  }

  .about {
    width: 100%;
  }

}
@media (min-width:480px) {
  /* smartphones, Android phones, landscape iPhone */ 
  
  #mainWrap {
    width: 480px;
  }

  .ng-scope form{
    padding: 0 20px 20px !important;
  }

  .statsButton {
    display: inline-block;
  }

  .about {
    width: 80%;
  }

  .wordCount {
    font-size: 4em !important;
  }

}
@media (min-width:600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 

  #mainWrap {
    width: 600px;
  }

  .ng-scope form{
    padding: 0 20px 20px !important;
  }

  .statsButton {
    display: inline-block;
  }

  .usersButton {
    display: inline-block;
  }

  .about {
    width: 80%;
  }

  .wordCount {
    font-size: 5em !important;
  }

}
@media (min-width:801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  
  #mainWrap {
    width: 800px;
  }

  .statsButton {
    display: inline-block;
  }

  .usersButton {
    display: inline-block;
  }

  .about {
    width: 80%;
  }

  .wordCount {
    font-size: 5em !important;
  }

}

body {
  background-color: #7ADBFF;
  padding: 0;
  font-family: 'Inder', sans-serif;
}

.root {
  padding: 0 10px;
}

.loginRegButton {
  text-align: center;
}

.about {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.pageTitle {
  text-align: center;
}

.about h5{
  color: #FF654D;
  font-size: 1.5em;
}

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  text-align: center;
}

.menu div {
  margin-top: 10px;
}

.seedlarge {
  min-height:40px;
}

.view-enter-setup, .view-leave-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter-setup {
  opacity:0;
  left:50px;
  width:100%;
  position:absolute;
}
.view-enter-setup.view-enter-start {
  left:0;
  opacity:1;
}

.view-leave-setup {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.view-leave-setup.view-leave-start {
  left:-50px;
  opacity:0;
}

.loggedInAs {
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 0.8em;
}

.ng-scope form{
  padding: 0 40px 20px;
  text-align: center;
}

.reset {
  text-align: center;
  margin: 15px 0 10px;
}

.ng-scope .page-header {
  background-color: #FF654D;
  color: white;
  margin: 0;
  padding: 1px 0 10px;
  font-family: 'Just Me Again Down Here', cursive;
}

.ng-scope .page-header h1 {
  font-size: 3.5em;
}

.ng-scope .btn-primary {
  background-color: #7ADBFF;
  color: #3D3D3A;
  border: none;
}

.ng-scope .btn-lg{
  font-size: 1.1em;
}

.ng-scope .btn.logout {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
}

.ng-scope .btn.logout:hover {
  background-color: #7ADBFF;
}

button.btn span {
  color: #3D3D3A;
}

button.btn.active span {
  color: white;
}

.ng-scope button.btn.active  {
  background-color: #FF654D;
  color: white;
}

ul.wordList  {
  list-style: none;
  padding: 0;
}

.wordList li {
  border-top: 3px solid #7ADBFF;
  margin: 5px 0 0 0;  
}

.wordList li a {
  font-size: 2em;
  display: block;
  text-align: center;
  padding: 10px;
  color: #FF654D;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  text-decoration: none;
}

.control-group{
  margin-top: 15px;
}

.radio.inline {
  display: inline;
  margin: 0 15px 0 0;
}

.ng-scope .radio.inline input[type="radio"]{
  float: none;
}

.ng-scope input[type="text"], .ng-scope input[type="email"], .ng-scope input[type="password"]{
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #3D3D3A;
  padding: 10px;
  text-align: center;
  width: 100% !important;
  max-width: 500px !important;
  margin: 0 auto;
}

.loginButton {
  max-width: 500px;
  margin: 0 auto;
}

.ng-scope textarea{
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #3D3D3A;
  padding: 10px;
  width: 100% !important;
  max-width: 500px !important;
  margin: 0 auto;
}

.ng-scope input.ng-invalid {
  border: 1px solid #FF654D;
}
.ng-scope input.ng-valid {
  border: 1px solid #7ADBFF;
}

.wordDef {
  text-align: center;
}

.wordText {
  color: #FF654D;
  font-size: 5em;
  margin: 0 0 10px 0;
  font-family: 'Just Me Again Down Here', cursive;
  line-height: 62px;
}

.wordTextMore{
  color: #FF654D;
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.wordExp{
  color: #3D3D3A;
  font-size: 1em;
  margin: 0;
  background-color: #D9D9D5;
}

.deleteContainer{
  margin-top: 15px;
  text-align: center;
  padding: 15px 0 15px 0;
  border-top: 1px dotted #FF654D;
}

.ng-scope .btn.showDelete{
  background-color: transparent;
  color: #FF654D;
}

.wordCountLabel {
  border-bottom: 1px dotted #FF654D;
  text-align: center;
}

.wordCount {
  font-size: 3em;
  color: #FF654D;
  text-align: center;
  margin: 0px 0 20px 0;
}

.percentHolder {
  width: 49%;
  display: inline-block;
}

.percentHolder p{
  width: 50%;
  margin: 0 auto;
  padding-bottom: 5px;
  border-bottom: 1px dotted #FF654D;
  text-align: center;
}

.percentHolder h3 {
  font-size: 2em;
  color: #FF654D;
  text-align: center;
  margin: 5px 0 0 0;
}

.percentHolder h4 {
  font-size: 1em;
  color: #FF654D;
  text-align: center;
  margin: 15px 0 0 0;
}

.userCount {
  margin-top: 20px;
  border-bottom: 1px dotted #FF654D;
  text-align: center;
}

.usersList {
  list-style: none;
  text-align: center;
  padding: 0 0 20px 0;
}

.usersList li a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px dotted #FF654D;
  font-size: 1.2em;
}

.usersList li a span {
  color: #FF654D;
  font-size: 0.8em;
}

.usersLink{
  text-align: center;
  padding-bottom: 20px;
}

.userDef{
  text-align: center;
  font-size: 1.2em;
}
