<form name="newUserForm" class="form-horizontal" ng-show="userExists">
	<div class="control-group">
		<label for="says" class="control-label">Email</label>
		<div class="controls">
			<input type="text" id="says" class="input-xlarge seedlarge" ng-model="user.email" required>
		</div>
	</div>
	<div class="control-group">
            <label class="control-label">Password (leave blank to keep old password)</label>
            <div class="controls">
                <input type="text" ng-model="user.password" 
                class="input-xlarge seedlarge">
            </div>
        </div>                    
        <div class="control-group">
            <label class="control-label">Repeat Password</label>
            <div class="controls">
                <input type="text" ng-model="user.repeatPassword" class="input-xlarge seedlarge" >
                <span class="text-error" ng-show='checkMatch()'>Passwords do not match!</span>
            </div>
        </div>
	<div class="control-group">
		<label for="language" class="control-label">Language / Jazyk</label>
		<div class="controls">
			<label class="radio inline">
				<input type="radio" name="language" value="cz" ng-model="user.language" required>
				čeština
			</label>
			<label class="radio inline">
				<input type="radio" name="language" value="en" ng-model="user.language" required>
				english
			</label>
		</div>
	</div>
	<div class="reset">
        <a class="resetForm" ng-click="cancelEdit()">Cancel Edit</a>
    </div>
	<div class="control-group">
        <input type="submit" value="save" id="saveWordButton" class="btn btn-success btn-lg btn-block" ng-disabled="!canSave()" ng-click="saveEditedUser(user)"> 
    </div>
</form>
<div ng-show="!userExists">
	<p>"{{query}}" is not a user.</p>
</div>