<div class="statsPanel">
	<p class="wordCountLabel">Number of words</p>
	<h3 class="wordCount">{{stats.words}}</h3>
	<section class="percentHolder">
		<p class="percentLabel">English</p>
		<h3 class="percent">{{stats.percent_english}}</h3>
	</section>
	<section class="percentHolder">
		<p class="percentLabel">Czech</p>
		<h3 class="percent">{{stats.percent_czech}}</h3>
	</section>
	
	<p class="userCount">There are {{stats.users_count}} users.</p>
	<ul class="userList">
		<li ng-repeat="user in stats.users">{{user}}</li>
	</ul>
</div>