<div ng-show="userExists" class="userDef">
	<h4 class="profileInfo">Email: {{user.email}}</h4>
	<h4 class="profileInfo">{{l.uiLanguage}}: {{user.language}}</h4>
</div>
<div class="deleteContainer" ng-show="userExists">
	<button ng-show="!deleting" ng-click="edit()" class="btn btn-primary btn-sm edit">{{l.formEditUser}}</button>
	<button ng-show="!deleting" ng-click="showDelete()" class="btn btn-primary btn-sm showDelete">{{l.formDeleteUser}}</button>
	<button ng-show="deleting" ng-click="deleteUser()" class="btn btn-danger btn-xs delete">{{l.formDeleteIt}}</button>
	<a ng-show="deleting" ng-click="cancelDelete()">{{l.formCancel}}</a>
</div>

<div ng-show="!userExists">
	<p>"{{query}}" {{l.msNoUser}}</p>
</div>