<div ng-show="wordExists" class="wordDef">
	<p class="wordExp">{{l.wordSays}}</p>
	<h3 class="wordText">{{word.says}}</h3>
	<p class="wordExp">{{l.wordMeans}}</p>
	<h3 class="wordText">{{word.means}}</h3>
	<p class="wordExp">{{l.wordTrans}}</p>
	<h3 class="wordText">{{word.translation}}</h3>
	<div ng-show="word.more">
		<p class="wordExp">{{l.more}}</p>
		<hp class="wordTextMore">{{word.more}}</p>
	</div>
</div>
<div class="deleteContainer">
	<button ng-show="!deleting" ng-click="edit()" class="btn btn-primary btn-sm edit">{{l.formEditWord}}</button>
	<button ng-show="!deleting" ng-click="showDelete()" class="btn btn-primary btn-sm showDelete">{{l.formDeleteWord}}</button>
	<button ng-show="deleting" ng-click="deleteWord()" class="btn btn-danger btn-xs delete">{{l.formDeleteIt}}</button>
	<a ng-show="deleting" ng-click="cancelDelete()">{{l.formCancel}}</a>
</div>

<div ng-show="!wordExists">
	<p>"{{query}}" {{l.msNoWord}}</p>
</div>